<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item"><a href="/users">Login</a></li>
      <li class="main-header__item"><a href="/" class="active">Home</a></li>
    </ul>
  </nav>
</header>
