<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>assignment 03</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item"><a href="/users">Login</a></li>
          <li class="main-header__item"><a href="/" class="active">Home</a></li>
        </ul>
      </nav>
    </header>
    <main class="main-content"><h1>Welcome!</h1></main>
  </body>
</html>
