<%- include("./partials/header.ejs") %>
    <link rel="stylesheet" href="/css/admin.css">
  </head>
  <body>
    <%- include("./partials/nav.ejs") %>
    <main class="main-content">
      <ul class="main-list">
        <% if(names.length > 0){ %>
          <% names.forEach(name => { %>
            <li class="main-list-item">username - <%= name.name %></li>
            <% })}else{ %>
            <h1>No user</h1>
            <% } %>
      </ul>
    </main>
  <%- include("partials/footer.ejs") %>
