<%- include("./partials/header.ejs") %>
    
  </head>
  <body>
    <%- include("./partials/nav.ejs") %>
    <main class="main-content">
      <ul class="main-list">
        <li class="main-list-item">name</li>
      </ul>
    </main>
  <%- include("partials/footer.ejs") %>
