<%- include("./partials/header.ejs") %>
<link href="/css/form.css" rel="stylesheet">
  </head>

  <body>
    <%- include("./partials/nav.ejs") %>
    <main class="main-content">
      <h1>Welcome!</h1>
      <form action="/" method="POST" class="main-form">
        <div class="form-group">
          <label for="username">Name</label
          ><input name="username" id="username" type="text" />
        </div>
        
        <button type="submit" class="btn">Submit</button>
      </form>
    </main>
<%- include("./partials/footer.ejs") %>