.form-control label,
.form-control input {
  display: block;
  width: 100%;
}
.form-control input {
  border: 1px solid #dbc441;
  font: inherit;
  border-radius: 2px;
}
.form-control {
  margin: 1rem 0;
}

button {
  font: inherit;
  border: 1px solid #aa35aa;
  color: #aa35aa;
  background: #ffffff;
  border-radius: 3px;
  cursor: pointer;
}
button:hover,
button:active {
  background: #aa35aa;
  color: white;
}
.product-form {
  width: 20rem;
  max-width: 90%;
  margin: 0 auto;
}
